<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Homepage{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    {% block style %}
    <style>
        body {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
                "slnt" 0;
        }
    </style>
    {% endblock %}
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top shadow p-3 mb-5 bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>Spacemilk</b></a>
            <button class="navbar-toggler border border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/company_registration">Company
                                registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/web_development">Web development</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/notifications">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/signin">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav><br><br><br><br>

    {% block content %}{% endblock %}

    <div class="container mt-5">
        <footer class="py-5 border-top border-dark">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-4">
                    <div class="row">
                        <div class="col-3">
                            <ion-icon name="finger-print" style="font-size: 64px;"></ion-icon>
                        </div>
                        <div class="col-9">
                            <h4 class="d-inline-flex align-items-center text-body-emphasis text-decoration-none"
                                href="/" aria-label="Bootstrap">
                                <b>Spacemilk</b>
                            </h4>
                            <p>An investment group</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-4">
                    <h5><b>Contact Us</b></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="p-0 link-body-emphasis">
                                87178 27 Zone F Seshego 0742</a></li>
                        <li class="nav-item mb-2"><a href="mailto:spacemilkza@gmail.com"
                                class="p-0 link-body-emphasis">spacemilkza@gmail.com</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="https://wa.me/27658712480" target="_blank" class="p-0 link-body-emphasis">+27 65
                                871
                                2480</a>
                        </li>
                    </ul>
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a class="link-body-emphasis" target="_blank" href="https://wa.me/27658712480">
                                <ion-icon name="logo-whatsapp" style="font-size: 25px"></ion-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-body-emphasis" target="_blank" href="#">
                                <ion-icon name="logo-facebook" style="font-size: 25px"></ion-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-body-emphasis" target="_blank" href="#">
                                <ion-icon name="logo-instagram" style="font-size: 25px"></ion-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-body-emphasis" target="_blank" href="tel:+27658712480">
                                <ion-icon name="call" style="font-size: 25px "></ion-icon>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-body-emphasis" target="_blank" href="sms:+27658712480">
                                <ion-icon name="mail" style="font-size: 25px"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-4">
                    <h5><b>Services</b></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="/company_registration" class="p-0 link-body-emphasis">Company
                                Registration
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/web_development" class="p-0 link-body-emphasis">Web Development</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mb-4">
                    <h5><b>Working Hours</b></h5>
                    <table class="table table-borderless flex-column">
                        <tr>
                            <td>Mon - Fri</td>
                            <td>09:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>Sat</td>
                            <td>09:00 - 15:00</td>
                        </tr>
                        <tr>
                            <td>Public Holidays</td>
                            <td>09:00 - 12:00</td>
                        </tr>
                        <tr>
                            <td>Sun</td>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="justify-content-between pt-4 mb-4">
                <h6>&copy;2024 <b>Spacemilk Pty Ltd</b></h6>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="link-body-emphasis" href="/">
                            Terms of Use
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-body-emphasis" href="#">
                            Commercial Terms
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-body-emphasis" href="/privacy_policy">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <p>
                    Spacemilk Pty Ltd (2021/ 688155/ 07) is registered in South Africa.
                </p>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>