{% extends "base.html" %}
{% block title %} Notifications {% endblock %}

{% block content %}
<main class="container">
  <article>
    <section class='jumbotron text-center bg-white'>
      <div class='row'>
        <div class='col'>
          <img class='img-fluid' src='<?php echo base_url(' assets/img/undraw_Lost_re_xqjt.png') ?>'>
        </div>
      </div>
      <header>
        <h5 class='display-4 text-uppercase text-danger'>
          <?php echo $report_obj.' '.$report_msg; ?>
        </h5>
      </header>
      <div>
        <hr>
        <p class='lead text-capitalize text-danger'>
          Kindly go back and enter different inputs.
        </p>
      </div>
    </section>
  </article>
</main>
{% endblock %}